#addCategory{
    display: none;
}

#addAccount{
    display: none;
}

#updateAccount
{
    display: none;
}

#updateImport
{
    display: none;
}

#addImport
{
    display: none;
}